/* css Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 'Helvetica Neue', Helvetica, sans-serif; line-height: 1.5rem; font-weight: 400;
	vertical-align: baseline;
}

/* css Styles */

#wrapper {
	width:800px; margin:0 auto; 
}

#top {
	width:100%; margin:0 auto; background-color:#ddd; 
}

#top .anu img {
	margin:20px; height:60px; float:right; 
}

#top .mewr img {
	margin:20px; background-color:#ddd; height:60px; width:263px;
}

#content {
	clear:both; width:760px; margin:20 20 20 20px
}

#content h1 {
	width:100%; font-size:24px; margin:15px 0 15px 0; font-weight:bold;
}

#content h2 {
	font-size:100%; margin:5px 0; font-weight:bold;
}

#content p {
	margin:10px 0;
}

#content #address p {
	margin:0 30px;
}

#content em {
	font-weight:bold; font-style:normal;
}

#content #box1 {
	padding:70 40px; border: 3px #009933 solid; margin:0 auto; text-align:center
}

#content #box1 h1 {
	color:#009933; text-decoration:none; font-weight:normal;
}

#content #box2 {
	padding:70 40px; border: 3px #FF0000 solid; margin:0 auto; text-align:center
}

#content #box2 h1 {
	color:#FF0000; text-decoration:none; font-weight:normal;
}

#content #ascend {
	padding:70 40px; border: 3px #FF0000 solid; margin:0 auto; text-align:center
}

#content #ascend h1 {
	color:#FF0000; text-decoration:none; font-weight:normal;
}

#content #descend {
	padding:70 40px; border: 3px #FF0000 solid; margin:0 auto; text-align:center
}

#content #descend h1 {
	color:#FF0000; text-decoration:none; font-weight:normal;
}

#content #pause {
	float:left ;width:30%; padding:10px; border: 3px #555 solid; margin-top:10px; text-align:center; 
	text-decoration:none; font-weight:normal; color:#000
}

#content #pause a {
	text-decoration:none; font-weight:normal; color:#000
}

#playlist {
	list-style: none;
}


#content form ul {
	list-style-type:none
}

#content ul {
	margin:15px 30px;
}

#content li {
	margin:5px 0; text-decoration:none;
}

#content table {
	border-collapse: collapse; position:absolute; top:50%; left:50%
}

#content table tr {
	border: 1px solid #ddd;
}

#content table th, td {
	width:150px; 
}

#content th {
	font-weight:bold; background-color:#555; color:#fff; text-align:center; padding:20px 0
}

#content table td {
	text-align:center; padding:20px 0
}

#footer p {
	font-size:24px; margin:30px; float:right; 
}

#footer p a {
	color:#000; padding:20px; background-color:#ddd;
}

#footer p a:hover {
	color:#fff; background-color:#333; padding:20px;

}

#submit p {
	width:50px; font-size:24px; margin:30px auto;  
}

#submit p a {
	color:#000; padding:20px; background-color:#ddd;
}

#submit p a:hover {
	color:#fff; background-color:#333; padding:20px;

}
