vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-7U8GNMD\\Chi Hoong
vti_modifiedby:SR|DESKTOP-7U8GNMD\\Chi Hoong
vti_timelastmodified:TR|03 Aug 2017 09:51:56 -0000
vti_timecreated:TR|02 Aug 2017 10:00:02 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|choiceday.dwt block1set1.html choicetryday.html choicenight.dwt choice3v2.html choice4v2.html choice8v2.html choice9v2.html choice5v2.html choice10v2.html choice11v2.html choicetry.html choicetrynight.html choice6v2.html block1set2.html block1set3.html block1set4.html
vti_nexttolasttimemodified:TW|03 Aug 2017 09:26:08 -0000
vti_cacheddtm:TX|03 Aug 2017 09:51:56 -0000
vti_filesize:IR|6096
