vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-7U8GNMD\\Chi Hoong
vti_modifiedby:SR|DESKTOP-7U8GNMD\\Chi Hoong
vti_timelastmodified:TR|27 Jul 2017 10:13:40 -0000
vti_timecreated:TR|27 Jun 2017 08:48:52 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|choice8.html choice9.html choice3.html choice4.html choice5.html choice6.html choice10.html choice11.html choiceinfo3.html choicepages.dwt
vti_nexttolasttimemodified:TW|27 Jul 2017 10:12:21 -0000
vti_cacheddtm:TX|27 Jul 2017 10:13:40 -0000
vti_filesize:IR|2673
