vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-7U8GNMD\\Chi Hoong
vti_modifiedby:SR|DESKTOP-7U8GNMD\\Chi Hoong
vti_timelastmodified:TR|31 Jul 2017 06:58:37 -0000
vti_timecreated:TR|31 Jul 2017 05:50:46 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|pause.html
vti_nexttolasttimemodified:TW|31 Jul 2017 06:27:38 -0000
vti_cacheddtm:TX|31 Jul 2017 06:58:37 -0000
vti_filesize:IR|2987
